:root {
  --bg-body: #141414;
  --bg-body2: #242424;
  --black: #151515;
  --dark-gray: #242424;
  --green: #02c302;
  --gray: #d9d9d9;
  --purple: #6e07f3;
  --dark-blue: #0d2438;
  --text1: #ffffff;
  --text2: #d9d9d9;
  --font-header: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  --font-hero: clamp(2.5rem, 0.7rem + 7.68vw, 5.5rem);
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Space Grotesk";
}

body {
  margin: 0;
  background-color: var(--bg-body);
  color: var(--text1);
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 5rem;
}

.flexbox-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  height: 150px;
}

.header-social {
  margin-left: 1.5rem;
}

.wrapper {
  width: 90%;
  height: 100%;
  padding: 0 12.5%;
  margin: auto;

  @media (max-width: 1024px) {
    padding: 0 3%;
  }

  @media (max-width: 700px) {
    padding: 0 2%;
  }
}

.header-xl {
  font-size: var(--font-hero);
}
/***************************Flags**************************/
.language-selector {
  display: inline-block;
  position: relative;
}

.language-icon {
  width: 24px;
  margin-left: 1.5rem;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.5s ease;
  z-index: -1;
}

.frenchFlag {
  z-index: 10;
}

/***************************Hero***************************/
#spining-circle {
  position: absolute;
  right: 80%;
  z-index: -2;
  width: 40%;
  animation: spin 6s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hero {
  /* height: 100vh; */
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -2rem;
  /* margin-bottom: 5rem; */
}

@media (min-width: 1750px) {
  .overflow-text {
    white-space: nowrap;
  }
}
.hero-about {
  width: 50%;
  margin: 2rem 0 5rem 0;
}

.hero-img {
  z-index: -2;
  position: relative;
  right: 3rem;
  align-self: flex-start;
}

.hero-text {
  position: relative;
  left: 3rem;
  text-align: left;
  min-width: 850px;
}
span {
  white-space: nowrap;
}

.contact-me {
  border-bottom: solid 2px var(--green);
  padding-bottom: 5px;
  text-transform: uppercase;
}

.bottom-border {
  border-bottom: var(--gray) solid 2px;
  padding-bottom: 5rem;
}

.underline {
  border-bottom: var(--green) solid 5px;
}

/*------------------------Skills------------------------*/

/* .skills {
  display: flex;
  flex-direction: column;
}

.skills-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skills-item {
  text-align: left;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#skill-h1 {
  margin-bottom: 1rem;
}

.skill-text {
  margin-bottom: 2rem;
  width: 60%;
}

.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.skills-item h3 {
  font-size: clamp(1rem, 0.165rem + 3.5555vw, 1.5rem);
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.skills-bar {
  height: 10px;
  width: 80%;
  background-color: #ffffff;
  border-radius: 5px;
}

.skills-bar .html {
  width: 95%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .css {
  width: 90%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .javascript {
  width: 80%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .php {
  width: 70%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .nodejs {
  width: 60%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .photoshop {
  width: 80%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .mysql {
  width: 90%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .jquery {
  width: 70%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.skills-bar .wordpress {
  width: 70%;
  height: 100%;
  background-color: var(--green);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*------------------------Projects------------------------*/

/* .projects {
  display: flex;
  justify-content: left;
  flex-direction: column;
}



.projects-item-column {
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

#projet-h1 {
  margin-bottom: 1rem;
}

.projet-text {
  margin-bottom: 2rem;
  width: 60%;
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects-item {
  flex: 1 1 0;
  margin: 0 1rem;
}

.projects-tags {
  display: flex;
  justify-content: left;
}

.tags {
  margin-right: 1rem;
}

.projects-img {
  width: 100%;
  max-width: 100%;
}

/**************************contact*****************/

.bg-less-dark {
  background-color: var(--dark-gray);
}

.contact {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 5% 17.5%;
}

.contact-text {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 0px;
  /* max-width: 47%; */
}

.contact-form {
  min-width: 45%;
}

.contact-title {
  margin: 0;
}

.contact-icon {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.number {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  margin: 0 0 0 auto;
}

input,
button,
textarea {
  color: #fff;
  background-color: transparent;
  padding: 1.5rem;
  border: none;
  border-bottom: 1px solid var(--gray);
  margin-bottom: 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--text1);
  opacity: 0.5;
  text-transform: uppercase;
  font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: 2px dashed;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  outline-color: rgb(182, 15, 15);
}

input:required:valid:focus,
textarea:required:valid:focus {
  outline-color: var(--green);
}

.btn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-bottom: solid 2px var(--green);
  padding: 0.8rem;
}

.btn:hover {
  background: #141414;
}

i:hover {
  color: var(--green);
}

/**************************footer*****************/

.footer {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-social:hover svg path {
  fill: var(--green);
}

/***********************hover projects******************/
.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay:hover {
  opacity: 1;
}

.overlay-text {
  text-align: center;
}

.view-code,
.view-project {
  text-decoration: none;
  color: white;
  background-color: var(--green);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
}

/***********************Appear On scroll******************/
.fade-in {
  opacity: 0;
  transform: translateY(50%);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
  transform: translateY(0);
}
